@media screen and (min-width: 992px) {
    #containerMotion {
        width: 100%;
    }

    #containerMotion video {
        width: 100%;
        height: 750px;
    }

    #containerPart2 {
        background-color: white;
        height: 900px;
        width: 100%;        
    }

    #containerCellPhone {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637632843/edicaId/fondoSinGlobo.png);
        width: 90%;
        margin-left: 5%;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
    }

    #containerCellPhone:hover {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637632845/edicaId/fondoConGlobo.png);
        height: 100%;
        width: 90%;
        margin-left: 5%;
        transition: 2s;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #containerPart3 {
        background-color: white;
        height: auto;
        width: 90%;
        margin-left: 5%;
    }

    #containerImgStandar {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637632845/edicaId/img_3.png);
        height: 100%;
        width: 90%;
        margin-left: 5%;
        background-size: cover; 
        background-repeat: no-repeat;
    }

    #containerSeparator {
        width: 90%;
        height: 200px;
        margin-left: 5%;
        background-position: center;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639945207/edicaId/Ultimos%20cambios/Barra_Nuestros_Servicios.png);
    }

    #separator {
       width: 100%;
    }

    #containerPart4 {
        background-color: white;

    }

    .divDummy {
        width: 100%;
        
    }

    .containerImg {
        width: 90%;
        margin-left: 5%;
        height: 330px;
    }

    .imgServicios {
        width: 250px;
        height: 100px;
        margin-left: 10px;
    }

    @keyframes changePositionRightToLeftEducacion {
        from {margin-left: 24%}
        to {margin-left: 0%}
    }

    #imgEducacion {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639954103/edicaId/Ultimos%20cambios/pc/1.png);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #containerText1 {
        overflow: hidden;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        animation: changePositionRightToLeftEducacion 15s infinite linear alternate-reverse;
    }

    @keyframes changePositionLeftToRightIndustrial {
        from {margin-left: 0%}
        to {margin-left: 42%}
    }

    #imgIndustrial {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639954102/edicaId/Ultimos%20cambios/pc/2.png);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #containerText2 {
        overflow: hidden;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        animation: changePositionLeftToRightIndustrial 15s infinite linear alternate-reverse;
    }

    @keyframes changePositionRightToLeftCorporativo {
        from {margin-left: 62%}
        to {margin-left: 0%}
    }

    #imgCorporativo {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639954103/edicaId/Ultimos%20cambios/pc/3.png);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #containerText3 {
        overflow: hidden;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        animation: changePositionRightToLeftCorporativo 15s infinite linear alternate-reverse;
    }

    @keyframes changePositionLeftToRightComercial {
        from {margin-left: 0%}
        to {margin-left: 42%}
    }

    #imgComercial {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639954102/edicaId/Ultimos%20cambios/pc/4.png);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #containerText4 {
        overflow: hidden;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        animation: changePositionLeftToRightComercial 15s infinite linear alternate-reverse;
    }

    @keyframes changePositionRightToLeftGubernamental {
        from {margin-left: 62%}
        to {margin-left: 0%}
    }

    #imgGubernamental {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639954102/edicaId/Ultimos%20cambios/pc/5.png);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #containerText5 {
        overflow: hidden;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        animation: changePositionRightToLeftGubernamental 15s infinite linear alternate-reverse;
    }

    @keyframes changePositionLeftToRightHospitalario {
        from {margin-left: 0%}
        to {margin-left: 42%}
    }

    #imgHospitalario {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639954102/edicaId/Ultimos%20cambios/pc/6.png);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #containerText6 {
        overflow: hidden;
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        animation: changePositionLeftToRightHospitalario 15s infinite linear alternate-reverse;
    }

    footer {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637806334/edicaId/BarraFooter.png);
        width: 90%;
        margin-left: 5%;
        height: 200px;
        background-size: cover;
        display: flex;
        justify-content: space-around;
    }

    #containerSocial {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .imgSocial{
        width: 80%;
    }

    #chateaConNosotros {
        width: 40%;
        padding: 25px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #chateaConNosotros {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    #imgChat {
        width: 110%;
    }

    #containerExtras {
        width: 90%;
        margin-left: 5%;
    }

    /*Todo lo movil para que no se vea*/
    
    #containerMotionMovil, #containerCellphoneMovil, #containerPart3Movil, #containerPart4Movil, #containerServicio1Movil, #containerServicio2Movil, #containerServicio3Movil, #containerServicio4Movil, #containerServicio5Movil, #containerServicio6Movil, #containerPart5Movil{
        display: none;
    }
}

@media screen and (max-width: 992px) {

    #containerSeparator {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639945207/edicaId/Ultimos%20cambios/BARRA_SERVICIOS_1.png);
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }

    #containerMotionMovil {
        width: 100%;
    }

    #containerMotionMovil video {
        width: 100%;
        height: 450px;
    }

    #containerCellphoneMovil {
        width: 100%;
        height: auto;
    }

    #containerCellphoneMovil video {
        width: 100%;
        
    }

    #containerPart3Movil {
        width: 100%;
        height: 1100px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953867/edicaId/Ultimos%20cambios/tabley/IMG_1.png);
        background-size: cover;
        background-position: top;
    }

    #containerPart4Movil{
        width: 100%;
        height: 1100px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953869/edicaId/Ultimos%20cambios/tabley/IMG_2.png);
        background-size: cover;
        background-position: top;
    }

    #containerPart5Movil {
        width: 100%;
        height: 1100px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953870/edicaId/Ultimos%20cambios/tabley/IMG_3.png);
        background-position: center;
        background-size: cover;
        background-position: top;
    }

    #containerServicio1Movil {
        width: 100%;
        height: 1750px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953867/edicaId/Ultimos%20cambios/tabley/SERV_1.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio2Movil {
        width: 100%;
        height: 650px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953867/edicaId/Ultimos%20cambios/tabley/SERV_2.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio3Movil {
        width: 100%;
        height: 650px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953867/edicaId/Ultimos%20cambios/tabley/SERV_3.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio4Movil {
        width: 100%;
        height: 650px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953867/edicaId/Ultimos%20cambios/tabley/SERV_4.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio5Movil {
        width: 100%;
        height: 650px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953866/edicaId/Ultimos%20cambios/tabley/SERV_5.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio6Movil {
        width: 100%;
        height: 650px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953867/edicaId/Ultimos%20cambios/tabley/SERV_6.png);
        background-size: cover;
        background-position: top;
    }

    footer {
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637806334/edicaId/BarraFooter.png);
        width: 100%;
        height: 150px;
        background-size: cover;
        display: flex;
        justify-content: space-around;
    }
    #containerSocial {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 50px;
    }

    .imgSocial{
        width: 60%;
    }

    #chateaConNosotros {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    #imgChat {
        width: 80%;
    }

    /*Todo lo pc para q no se vea*/
    #containerMotion, #containerPart2, #containerPart3, #containerPart4 {
        display: none!important ;
    }
}

@media screen and (max-width: 768px) {

    #containerMotion video {
        height: 350px !important;
    }
    
    #containerPart3Movil {
        width: 100%;
        height: 457px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953787/edicaId/Ultimos%20cambios/cel/IMG_1.png);
        background-position: bottom;
    }

    #containerPart4Movil {
        width: 100%;
        height: 462px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953787/edicaId/Ultimos%20cambios/cel/IMG_2.png);
        background-position: bottom;
        background-size: cover;
    }

    #containerPart5Movil {
        width: 100%;
        height: 462px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953787/edicaId/Ultimos%20cambios/cel/IMG_3.png);
        background-position: bottom;
        background-size: cover;
    }

    #containerSeparator {
        height: 200px;
        background-size: cover;
        background-position-x: center;
    }

    #containerServicio1Movil {
        width: 100%;
        height: 1500px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953737/edicaId/Ultimos%20cambios/cel/Serv_1.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio2Movil {
        width: 100%;
        height: 600px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953737/edicaId/Ultimos%20cambios/cel/SERV_2.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio3Movil {
        width: 100%;
        height: 600px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953737/edicaId/Ultimos%20cambios/cel/Serv_3.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio4Movil {
        width: 100%;
        height: 600px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953737/edicaId/Ultimos%20cambios/cel/SERV_4.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio5Movil {
        width: 100%;
        height: 600px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953737/edicaId/Ultimos%20cambios/cel/SERV_5.png);
        background-size: cover;
        background-position: top;
    }

    #containerServicio6Movil {
        width: 100%;
        height: 600px;
        background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1639953737/edicaId/Ultimos%20cambios/cel/SERV_6.png);
        background-size: cover;
        background-position: top;
    }
}

#videoAnimation {
    width: 100%;
    height: 100%;
}


#containerExtras {
    background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637806334/edicaId/BarraFooter.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px
}

#containerExtras a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.sc-7dvmpp-1 {
    display: none;
}

@media screen and (max-width:350px) {

    #containerServicio1Movil {
        background-repeat: no-repeat;
        background-size: contain;
        height: 700px;
    }

    #containerSeparator {
        height: 85px;
        background-size: contain;
    }
}

@media screen and (max-width:365px){

    #containerServicio1Movil {
        background-repeat: no-repeat;
        height: 650px;
        background-size: cover;
    }

    #containerServicio2Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
    }

    #containerServicio3Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
    }

    #containerServicio4Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
    }

    #containerServicio5Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
    }

    #containerServicio6Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
    }
}

@media screen and (max-width:500px){

    #containerSeparator {
        height: 130px;
        background-size: cover;
    }

    #containerServicio1Movil {
        background-repeat: no-repeat;
        height: 950px;
        background-size: cover;
    }

    #containerServicio2Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    #containerServicio3Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    #containerServicio4Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    #containerServicio5Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    #containerServicio6Movil {
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
}

@media screen and (orientation:landscape) and (min-width:992px) {
    .imgServicios {
        width: 160px;
        height: 75px;
    }
    
    #containerPart2 {
        height: 650px;
    }
}


/*LAPTOPS*/
@media screen and (min-width:1440px) {
    #containerMotion iframe {
        width: 100%;
        height: 1000px;
    }

    #containerPart2 {
        height: 900px;
    }

    #containerPart3 {
        height: auto;
    }

    .containerImg {
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        height: 250px;
    }

    .imgServicios {
        width: 220px;
        height: 100px;
    }
}

@media screen and (min-width:1750px) {
    #containerMotion iframe {
        width: 100%;
        height: 1250px;
    }

    #containerPart2 {
        height: 1100px;
    }

    #containerPart3 {
        height: auto;
    }

    .containerImg {
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        height: 250px;
    }

    .imgServicios {
        width: 220px;
        height: 100px;
    }
}

@media screen and (min-width:1750px) {
    #containerMotion video {
        width: 100%;
        height: 1400px;
    }

    #containerPart2 {
        height: 1700px;
    }

    #containerPart3 {
        height: auto;
    }

    .containerImg {
        height: 750px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        height: 300px;
    }

    .imgServicios {
        width: 350px;
        height: 200px;
    }

    #imgChat {
        width:auto;
    }
    #containerExtras a {
        font-size: 45px;
    }

    #containerSocial .imgSocial {
        width: 120%;
    }
    #containerSeparator {
        height: 300px;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width:2500px) {
    #containerPart2 {
        height: 1500px;
    }
}

@media screen and (max-width:2300px) {
    #containerPart2 {
        height: 1400px;
    }
}

@media screen and (max-width:2000px) {
    #containerPart2 {
        height: 1200px;
    }
}

@media screen and (max-width:1775px) {
    #containerPart2 {
        height: 1000px;
    }
}

@media screen and (max-width:1500px) {
    #containerPart2 {
        height: 850px;
    }
}

@media screen and (max-width:1250px) {
    #containerPart2 {
        height: 650px;
    }
}

@media screen and (min-width:3072px) {
    #containerPart2 {
        height: 2250px;
    }

    #containerCellPhone {
        background-size: cover;
    }

    #containerCellPhone:hover{
        background-size: cover;
    }

    #containerPart3 {
        height: auto;
    }
    .containerImg {
        height: 900px;
    }
    .imgServicios {
        width: 500px;
        height: 250px;
    }

    #containerSeparator {
        height: 400px;
        background-size: cover;
    }
}

@media screen and (min-width:4096px) {
    #containerPart2 {
        height: 2500px;
    }

    #containerCellPhone {
        background-size: cover;
    }

    #containerCellPhone:hover{
        background-size: cover;
    }

    #containerPart3 {
        height: auto;
    }

    #containerSeparator {
        height: 450px;
        background-size: cover;
    }

    .containerImg {
        height: 900px;
    }

    .imgServicios {
        width: 500px;
        height: 250px;
    }
}