#containerMotion {
    width: 100%;
}

#containerMotion iframe {
    width: 100%;
    height: 750px;
}

#containerPart2 {
    background-color: white;
    height: 900px;
    width: 100%;
}

#containerCellPhone {
    background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637632843/edicaId/fondoSinGlobo.png);
    width: 90%;
    margin-left: 5%;
    background-size: 100%;
    height: 100%;
}

#containerCellPhone:hover {
    background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637632845/edicaId/fondoConGlobo.png);
    height: 100%;
    width: 90%;
    margin-left: 5%;
    transition: 2s;
    background-size: 100%;
}

#containerPart3 {
    background-color: white;
    height: 775px;
    width: 100%;    
}

#containerImgStandar {
    background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637632845/edicaId/img_3.png);
    height: 100%;
    width: 90%;
    margin-left: 5%;
    background-size: 100%;
}

#conatinerSeparator {
    width: 100%;
    height: 100px;
    background-color: white;
}

#separator {
    width: 90%;
    margin-left: 5%;
    height: 100%;
}

#containerPart4 {
    background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637632848/edicaId/Servicios.png);
    height: 2200px;
    width: 100%;
    background-size: 100%;
}

footer {
    background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1637806334/edicaId/BarraFooter.png);
    width: 100%;
    height: 200px;
    background-size: 100%;
}

#containerSocial {
    width: 75%;
    margin-left: 12%;
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
}

#containerSocial img{
    width: 10%;
    height: 30%;
}
